<md-content layout="row">
  <md-nav-bar flex="100"
    md-selected-nav-item="currentNavitem"
    nav-bar-aria-label="navigation links">
    <md-nav-item flex="80" md-nav-sref="app.home">
      <span ng-bind="::$ctrl.appName | lowercase"></span>
    </md-nav-item>
    <md-nav-item flex="10"
      md-nav-sref="app.map">
      Map
    </md-nav-item>
    <md-nav-item flex="10"
      md-nav-sref="app.restaurants">
      Restaurants
    </md-nav-item>
    <md-nav-item flex="10"
      md-nav-sref="app.login" show-authed="false">
      Sign in
    </md-nav-item>
    <md-nav-item flex="10"
      md-nav-sref="app.register" show-authed="false">
      Register
    </md-nav-item>
  </md-nav-bar>
</md-content>
